/* Navbar container */

.navbar {
  margin-top: 10px;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  width: calc(100% - 40px);
}

/* Logo */
.logo {
  margin-left: 20px;
  width: 200px;
}

/* Navbar sections */
.nav-sections {
  display: flex;
  text-align: center;
  margin-right: 10px;
}

.nav-sections li {
  list-style-type: none;
  margin-right: 10px;
}

.nav-sections li a,
.nav-bar-sign-in {
  text-decoration: none;
  color: gray;
  padding: 5px;
  transition: 0.2s ease-in-out;
  position: relative;
}

.nav-sections li a:hover,
.nav-bar-sign-in:hover {
  color: rgb(255, 208, 0);
}

.nav-sections li a::after,
.nav-bar-sign-in::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: rgb(255, 208, 0);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s ease-in-out;
}

.nav-sections li a:hover::after,
.nav-bar-sign-in:hover::after {
  width: 100%;
}

/* buttons */
.nav-buttons {
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.nav-bar-sign-in {
  margin-right: 10px;
}
.nav-bar-register {
  text-decoration: none;
  color: white;
  padding: 13px;
  background-color: #ffd725;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 0 #fff0b0;
  margin-right: 7px;
}

.nav-bar-register:hover {
  opacity: 0.8; /* Adjust the opacity level to your preference */
}

/* Dropdown */
.dropdown {
  display: none;
}
.dropdown i {
  color: #ffd725;
}

/* Media screen */
@media screen and (max-width: 900px) {
  .nav-sections.none {
    right: -300px;
  }
  .nav-sections {
    flex-direction: column;
    align-items: center;
    padding: 15px; /* Remove right padding */
    padding-bottom: 30px;
    position: fixed;
    background-color: white;
    right: 10px;
    margin-top: 395px;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
  }

  .nav-sections li {
    margin-right: 0; /* Remove margin-right */
    margin-bottom: 30px; /* Add bottom margin for spacing */
  }
  .dropdown {
    display: block;
  }
  .nav-buttons {
    margin-top: 10px;
    margin-left: 0px;
    justify-content: space-between;
  }
  .logo {
    margin-left: 20px;
    width: 200px;
  }
}
