.pad {
  padding-top: 85px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-content,
.date-content,
.contact-content,
.confirmation-content {
  width: 75vw;
  padding: 30px 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.container .text {
  font-size: 1.8em;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}
.container .form {
  border: 1px solid var(--grey);
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .form input {
  width: 30vw;
  min-width: 300px;
  height: 35px;
  margin: 10px 0;
  padding: 20px 40px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(223, 223, 223);
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

.form input:focus {
  background-color: white;
}
.container .colored-button {
  border: none;
  margin-top: 20px;
  font-weight: bold;
  width: 240px;
  font-size: large;
}
.container .contact-content .colored-button {
  width: 30vw;
  min-width: 240px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container.show {
  display: block;
}
.container.hide {
  display: none;
}
.alert {
  text-align: center;
  font-size: 20px;
  background-color: pink;
  padding: 10px;
  color: palevioletred;
  border-radius: 10px;
}
.alert {
  display: block;
}
.alert.off {
  display: none;
}
.hide {
  display: none;
}
.car-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.car-tag {
  display: grid;
  grid-auto-rows: 200px 40px 40px 100px 80px;
  background-color: whitesmoke;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  padding: 20px;
}
.car-detail {
  display: grid;
  grid-template-columns: 140px 140px;
  color: rgb(108, 108, 108);
}
.car-image {
  height: 100%;
  width: 280px;
}
.info-form__2col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.form span {
  display: flex;
  flex-direction: column;
}
b {
  color: red;
}

.confirm-detail {
  display: grid;
  grid-template-columns: 140px 140px;
  color: rgb(165, 165, 165);
  padding-left: 40px;
  margin: 10px;
}
.confirm-detail .content {
  color: black;
}
.container a {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}
.container .confirm-header {
  margin-top: 40px;
  display: inline-block;
}
